/* Universal */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
	color: #222;
}

body {
	width: 100%;
  height: 100%;
  color: #222;
}

p {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #222;
}

/* Reusable */
.container {
	width: 100%;
	max-width: 90rem;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.section-heading {
	margin-bottom: 7rem;;
}

.section-heading h2 {
	font-size: 1.8rem;
	font-weight: bold;
	color: #4CB5F5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-heading h2::before,
.section-heading h2::after {
	content: "";
	border-top: 1px solid #4CB5F5;
	width: 7rem;
}

.section-heading h2::before {
	margin-right: 1.8rem;
}

.section-heading h2::after {
	margin-left: 1.8rem;
}

.btn {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: #317199;
  padding: 1.1rem;
  display: block;
  text-decoration: none;
  width: 60rem;
  height: 4rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 500ms;
}

.btn:hover {
  background-color: #4CB5F5;
}

.btn i.fa-chevron-circle-right {
  position: absolute;
  right: 0;
  top: 1.3rem;
  right: 2.5rem;
}

/* Header */
header#home {
	width: 100%;
	max-width: 120rem;
	height: 15rem;
	margin: 0 8.3rem;
}

.header-title {
	padding-top: 4.7rem;
}

.clinic-name {
  display: inline-block;
}

.clinic-name a {
  text-decoration: none;
}

.clinic-name h3 {
  color: #222;
  font-size: 1.3rem;
}

.clinic-name h1 {
  color: #222;
	font-size: 2.3rem;
  margin: 0;
  margin-top: 1rem;
}

.clinic-access {
	display: inline-block;
	margin-left: 2rem;
	background-color: #4CB5F5;
	border-radius: 1.1rem; 
}

.clinic-access p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 0.5rem 2rem;
}

.header-info {
	float: right;
}

.header-info p {
	position: absolute;
	top: 2rem;
	right: 30rem;
  font-size: 1.05rem;
  line-height: 1rem;
}

.header-buttons {
	position: absolute;
	right: 8.3rem;
	top: 1rem;
}

.header-buttons a {
	display: block;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: bold;
}

.reservation {
	background-color: #4CB5F5; 
	color: #fff;
	width: 20rem;
	height: 3.4rem;
	padding: 1rem .5rem 1rem 3.5rem;
  border-radius: 2.5rem;
  transition: all 500ms;
}

.reservation:hover {
  background-color: #317199;
}

.transition:hover {
  background-color: #317199;
}

.reservation .fa-chevron-circle-right {
	margin-left: 3rem;
}

.reservation .fa-desktop, .phone-number .fa-phone-alt {
	margin-right: 0.5rem;
}

.phone-number {
	padding-top: 1rem;
	padding-left: 3.5rem;
	color: #222;
}

.phone-number .fa-phone-alt {
	color: #4CB5F5;
}

/* Header-メニュー */
.header-menu {
	float: right;
	position: absolute;
	right: 8.3rem;
	top: 12rem;
}

.header-menu ul {
	list-style: none;
}

.header-menu ul li {
	float: left;
	border-right: 1px solid #222;
	transform: skewX(150deg);
}

.header-menu ul li:last-child {
	border: none;
}

.header-menu ul li a {
	font-size: 1.4rem;
	font-weight: bold;
	color: #222;
	text-decoration: none;
	margin: 0 1.8rem;
	display: block;
  transform: skewX(-150deg);
  transition: all 500ms;
}

.header-menu ul li a:hover {
  color: #4CB5F5;
}

/* MainVisual */
.main-visual img {
	width: 100%;
}

/* Anti-Corona */
.anti-corona {
	margin-top: 5rem;
	width: 100%;
	height: 15rem;
	background-color: #D5EAF8;
	text-align: center;
}

.anti-corona h3 {
	font-size: 1.8rem;
	padding: 4rem 0 3rem 0;
}

.anti-corona p, .anti-corona a {
	display: inline;
}

.anti-corona a {
  font-size: 1.4rem;
  color: #317199;
}

/* Concept */
/* Concept-中川歯科クリニックのコンセプト */
.concept {
	margin-top: 8rem;
}

.concept-odd, .concept-even {
  position: relative;
  height: 27rem;
  width: 100%;
  margin-bottom: 8rem;
}

.concept-odd .elipse, .concept-even .elipse {
	font-size: 3.5rem;
	font-weight: bold;
	color: #fff;
	background-color: #4CB5F5;
	width: 6rem;
	height: 6rem;
	padding: 1rem;
	border-radius: 50%;
	display: inline-block;
}

.concept-odd h3, .concept-even h3 {
	font-size: 1.7rem;
	display: inline;
}

.concept-odd p, .concept-even p {
	font-size: 1.4rem;
	color: #fff;
	line-height: 2.5rem;
	background-color: #4CB5F5;
	padding: 4rem 7rem;
	width: 50rem;
	border-radius: 2rem;
}

.concept-odd h3 {
	position: absolute;
	top: 1.8rem;
	left: 8rem;
}

.concept-odd p {
	position: absolute;
	top: 4rem;
	left: 4rem;
}

.concept-odd img {
	position: absolute;
	top: 0;
	right: 0;
}

.concept-even .elipse {
  position: absolute;
  right: 0;
}

.concept-even h3 {
  position: absolute;
  top: 1.8rem;
  right: 8rem;
}

.concept-even p {
  z-index: -100;
  position: absolute;
  top: 4rem;
  right: 4rem;
}

/* Concept-プラスシェイプ */
.plus {
  margin: 0 auto;
  width: 7rem;
  height: 4.1rem;
  margin-bottom: 5rem;
}

.plus-height, .plus-width {
  position: absolute;
  width: 7rem;
  height: 1.2rem;
  background-color: #4CB5F5;
}

.plus-height {
  transform: rotate(90deg);
}

.concept-5 h3 {
  top: 1rem;
  left: 15rem;
}

.concept-5 h3 span {
  color: #4CB5F5;
  font-size: 2rem;
}

.concept-5 p {
  left: 0;
}

.concept-5 img {
  right: 0;
  top: 5rem;
}

/* Concept-歯を削らない治療を心がけています */
.concept-explanation {
  position: relative;
  margin-bottom: 5rem;
}

.concept-explanation h3 {
  font-size: 1.7rem;
  font-weight: bold;
}

.concept-explanation p {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
  width: 60rem;
}

.concept-explanation img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}

/* Concept-水と光による歯科治療 */
.concept-treatment {
  margin-bottom: 5rem;
  height: 52rem;
  border: 3px solid #317199;
  border-radius: 2.5rem;
}

.concept-treatment-wrap {
  margin: 0 auto;
  width: 60rem;
}

.concept-treatment .concept-treatment-title {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2.5rem;
}

.concept-treatment .elipse {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-top: 3rem;
}

.concept-treatment .elipse h2 {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-top: 3rem;
}

.concept-treatment .elipse h3 {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}

.concept-treatment .water {
  background-color: #D5EAF8;
}

.concept-treatment .water h3 {
  color: #317199;
}

.concept-treatment .light {
  background-color: #FDEADA;
  float: right;
}

.concept-treatment .light h3 {
  color: #F69747;
}

/* Concept-水と光による歯科治療-Xシェイプ */
.multiply {
  transform: rotate(45deg);
  display: inline-block;
  position: relative;
  top: -8rem;
  left: 8rem;
}

.multiply-height, .multiply-width {
  position: absolute;
  width: 7rem;
  height: 1.2rem;
  background-color: #4CB5F5;
}

.multiply-height {
  transform: rotate(90deg);
}

.concept-treatment p {
  margin-top: 2rem;
}

.btn {
  margin: 2rem 0 2.5rem 0;
  position: relative;
}

.concept-treatment a i {
  position: absolute;
  right: 0;
  top: 1.2rem;
  right: 2.5rem;
}

/* Banner-かかりつけ歯科医機能強化型歯科診療所 */
.banner {
  background-color: #D5EAF8;
  width: 100%;
  height: 35rem;
  position: relative;
  margin-bottom: 7rem;
  z-index: -100;
}

.banner h2 {
  font-size: 1.6rem;
  padding-top: 4rem;
  margin-left: 8.3rem;
  margin-bottom: 4rem;
}

.banner h2 span {
  color: #317199;
  font-size: 2rem;
}

.banner p {
  width: 70rem;
  margin-left: 8.3rem;
  font-weight: bold;
}

.banner img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

/* Guide */
.guide {
  margin-bottom: 8rem;
}

.treatment-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8.5rem;
}

.treatment-menu .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-container {
  width: 14em;
  height: 14rem;
  line-height: 14rem;
  display: block;
  border: 5px solid #4CB5F5;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
}

.icon-container img {
  width: 7.7rem;
  position: relative;
  margin-top: 3rem;
}

.treatment-menu .menu h4 {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

/* Information */
.information {
  margin-bottom: 7rem;
}

.info {
  margin-bottom: 5rem;
  padding-left: 20rem;
  padding-bottom: 1rem;
  width: 90rem;
  border-bottom: 1px solid #317199;
}

.info a {
  font-size: 1.4rem;
  color: #317199;
  text-decoration: none;
}

.info a span {
  color: #222;
  margin-left: 10rem;
}

.information .btn {
  margin: 0 auto;
}

/* Access & Hour */
.access {
  margin-bottom: 10rem;
}

.access-hour {
  margin: 0 auto;
  width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.access-info {
  width: 60rem;
  position: relative;
}

.clinic-left {
  float: left;
  margin-bottom: 3rem;
}

.clinic-left h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.clinic-left h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.clinic-right {
  float: right;
  margin-bottom: 3rem;
}

.clinic-right p {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
}

.clinic-right a {
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-top: 1rem;
}

.clinic-right a i {
  margin-right: 0.8rem;
  color: #4CB5F5
}

/* Access & Hour - 診療時間表 */
.access table {
  width: 60rem;
  height: 12rem;
  border-collapse: collapse;
  border: 1px solid #317199;
}

.access table th {
  font-size: 1.4rem;
  color: #fff;
  background-color: #4CB5F5;
  height: 4rem;
}

.access table td {
  font-size: 2rem;
  font-weight: bold;
  color: #317199;
  text-align: center;
  width: 10%;
  padding: 0;
}

.access table td.filled-circle {
  padding: 0;
  padding-top: 0.4rem;
  font-size: 2.3rem;
}

.access table td.triangle {
  font-size: 2.3rem;
  padding: 0;
  padding-top: 0.4rem;
  color: #4CB5F5;
}

.special-hour {
  display: flex;
}

.special-hour p .filled-circle, .special-hour p .triangle {
  font-size: 2.3rem;
}

.special-hour p .filled-circle {
  color: #317199;
}

.special-hour p .triangle {
  color: #4CB5F5;
}

.special-hour p {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.hour .btn {
  background-color: #4CB5F5;
  margin-bottom: 4rem;
}

.hour .btn:hover {
  background-color: #317199;
}

.hour .btn .fa-desktop {
  margin-right: 1rem;
}

/* Access & Hour - 最寄駅から */
.trans {
  float: left;
}

.trans h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #4CB5F5;
  margin-bottom: 1rem;
}

.trans h3 i {
  margin-right: 1rem;
}

.trans .trans-wrap {
  background-color: #D5EAF8;
}

.trans .trans-wrap p {
  font-size: 1.3rem;
  line-height: 2.8rem;
  padding: 1.5rem;
  height: 33.8rem;
}

.map iframe {
  float: right;
}

.btn-access {
  float: right;
  width: 57rem;
  margin-top: 3rem;
}

/* Footer */
footer {
  width: 100%;
  height: 37rem;
  background-color: #D5EAF8;
}

.footer-wrap {
  width: 120rem;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}