/* About - セラミック治療とは */
.about-wrapper {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-areas: 
                      "grid1 grid2"
                      "grid1 grid3";
  row-gap: 2rem;
}

.about-grid-img1, .about-grid-img2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about-wrapper p {
  grid-area: grid1;
}

.about-grid-img1 {
  grid-area: grid2;
}

.about-grid-img2 {
  grid-area: grid3;
}

/* Metal Free - 銀歯や金属を使わないメタルフリー治療 */
.metalfree-wrapper {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
}

.metalfree-grid h3 {
  color: #4CB5F5;
  margin-bottom: 2rem;
}

.metalfree-grid-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.metalfree-article {
  margin-top: 2rem;
  padding: 2rem 2rem 3rem 2rem;
}

.metalfree-article h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.metalfree-article p {
  padding: 0.5rem 0;
}

.metalfree-article p i {
  color: #4CB5F5;
  margin-right: 0.5rem;
}

.article-wrapper {
  width: 65%;
  margin: 0 auto 2rem;
}

p.article-explanation {
  text-align: center;
}

/* Insurance - 保険診療できるセラミック治療 */
.insurance h3 {
  color: #4CB5F5;
  margin-bottom: 2rem;
}

.insurance-wrapper {
  display: grid;
  grid-template-columns: 1fr 2.1fr;
}

.insurance-grid-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Type - 取り扱うセラミックの種類 */
.table-1, .table-2, .table-3 {
  margin-top: 4rem;
}

.type-table h4 {
  font-size: 1.5rem;
}

.type-table h4 i {
  color: #4CB5F5;
  margin-right: 0.5rem;
}

.type-table div.line {
  width: 100%;
  height: 1px;
  background-color: #317199;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.table-wrapper {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 1.5rem;
}

.table-grid table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #317199;
}

.table-grid table th {
  padding: 2rem 3rem;
  font-size: 1.4rem;
  color: #317199;
  background-color: #D5EAF8;
}

.table-grid table td {
  padding: 1.5rem;
  font-size: 1.4rem;
}

.table-grid table td.align-center {
  text-align: center;
  padding: 0;
}

/* Cerec - 「セレック4.2」のセラミック治療で白い歯をその日のうちに */
.cerec-wrapper {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 2rem;
}

.cerec-grid-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.cerec-grid-img img {
  width: 100%;
}

/* Advantage - 即日セラミック治療「セレック4.2」のメリット */
.advantage table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #317199;
}

.advantage table th {
  color: #317199;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  background-color: #D5EAF8;
}

.advantage table th:first-child {
  width: 30%;
}

.advantage table td {
  background-color: #fff;
  padding: 3rem;
  font-size: 1.4rem;
}

/* Disadvantage - 即日セラミック治療「セレック4.2」のデメリット */
.disadvantage p {
  text-align: center;
  text-decoration: underline;
}

/* Flow - 即日セラミック治療「セレック4.2」の治療の流れ */
.flow h3 {
  color: #4CB5F5;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.flow-wrapper {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.step {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.step .square {
  background-color: #4CB5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step .square::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: -2.3rem;
  border-style: solid;
  border-color: #4CB5F5 transparent transparent transparent;
  border-width: 2rem 1.5rem 0 1.5rem;
  transform: rotate(-90deg);
}

.step .square p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5rem;
}

.step .text-wrap {
  background-color: #fff;
  border: 1px solid #4CB5F5;
}

.step .text-wrap h4 {
  font-size: 1.4rem;
  color: #4CB5F5;
  padding: 1.5rem 1rem 1rem 3rem;
}

.step .text-wrap p {
  padding: 0 1rem 1.5rem 3rem;
}

.step-triangle {
  width: 0;
  height: 0;
  margin: 3rem auto;
  border-style: solid;
  border-width: 25px 15px 0 15px;
  border-color: #317199 transparent transparent transparent;
}

/* Media Query */
@media screen and (max-width: 768px) {

  /* About - セラミック治療とは */
  .about-wrapper {
    column-gap: 2rem;
  }

  .about-grid-img1 img, .about-grid-img2 img {
    width: 100%;
  }

  /* Metal Free - 銀歯や金属を使わないメタルフリー治療 */
  .metalfree-grid-img img {
    width: 90%;
  }

  .article-wrapper {
    width: 80%;
  }

  /* Insurance - 保険診療できるセラミック治療 */
  .insurance-grid-img img {
    width: 90%;
  }

  /* Cerec - 「セレック4.2」のセラミック治療で白い歯をその日のうちに */
  .cerec-wrapper {
    grid-template-columns: 1.5fr 1fr;
  }
}

@media screen and (max-width: 650px) {

  /* Insurance - 保険診療できるセラミック治療 */
  .insurance-wrapper {
    grid-template-columns: 1fr 1.8fr;
  }

  /* Cerec - 「セレック4.2」のセラミック治療で白い歯をその日のうちに */
  .cerec-wrapper {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .cerec-grid-img {
    align-items: center;
  }

  .cerec-grid-img img {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {

  /* Type - 取り扱うセラミックの種類 */
  .table-wrapper {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2rem;
  }

  .table-grid-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Advantage - 即日セラミック治療「セレック4.2」のメリット */
  .advantage table td {
    padding: 2.5rem;
  }
}

@media screen and (max-width: 550px) {

  /* About - セラミック治療とは */
  .about-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "grid2"
                        "grid1"
                        "grid3";
  }

  .about-grid-img1 img, .about-grid-img2 img {
    width: 60%;
    margin: 0 auto;
  }

  /* Metal Free - 銀歯や金属を使わないメタルフリー治療 */
  .metalfree-wrapper {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .metalfree-grid-img {
    align-items: center;
  }

  .metalfree-grid-img img {
    width: 60%;
  }

  /* Insurance - 保険診療できるセラミック治療 */
  .insurance-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .insurance-grid-img {
    align-items: center;
  }

  .insurance-grid-img img {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {

  /* Metal Free - 銀歯や金属を使わないメタルフリー治療 */
  .article-wrapper {
    width: 90%;
  }

  /* Advantage - 即日セラミック治療「セレック4.2」のメリット */
  .advantage table td {
    padding: 2rem;
  }

  /* Flow - 即日セラミック治療「セレック4.2」の治療の流れ */
  .step {
    grid-template-columns: 1fr 4.5fr;
  }
}

@media screen and (max-width: 400px) {

  /* About - セラミック治療とは */
  .about-grid-img1 img, .about-grid-img2 img {
    width: 70%;
  }

  /* Metal Free - 銀歯や金属を使わないメタルフリー治療 */
  .metalfree-grid-img img {
    width: 70%;
  }

  /* Insurance - 保険診療できるセラミック治療 */
  .insurance-grid-img img {
    width: 60%;
  }

  /* Type - 取り扱うセラミックの種類 */
  .table-grid table th {
    padding: 2rem;
  }

  .table-grid table td {
    padding: 1rem;
  }

  /* Cerec - 「セレック4.2」のセラミック治療で白い歯をその日のうちに */
  .cerec-grid-img img {
    width: 70%;
  }

  /* Advantage - 即日セラミック治療「セレック4.2」のメリット */
  .advantage table td {
    padding: 1.5rem;
  }

  /* Flow - 即日セラミック治療「セレック4.2」の治療の流れ */
  .step {
    grid-template-columns: 1fr 4fr;
  }
}