/* Decay - 「歯が痛い」「歯が染みる」は虫歯？放置したらどうなるの？ */
.decay-wrapper {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  column-gap: 2rem;
}

.decay-grid-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

/* MI - なるべく歯を残して治す「MI（ミニマルインターベーション）」を重視 */
.mi-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  column-gap: 2rem;
}

.mi-grid-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.mi-advantage {
  margin-top: 2rem;
  padding: 2rem;
}

.mi-advantage h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.article-wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  column-gap: 1rem;
}

.article-grid p i {
  color: #4CB5F5;
  margin-right: 0.5rem;
}

/* Scheme - 虫歯治療の痛みを抑える工夫 */
.anesthetic {
  margin-top: 2.5rem;
  padding: 2rem;
}

.anesthetic h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.anesthetic p {
  width: 70%;
  margin: 0 auto;
}

/* 3Mix - 虫歯治療の痛みも歯を失うリスクも抑えられる3Mix-MP法 */
.threemix-wrapper {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr 1fr 1.2fr;
  margin-bottom: 5rem;
}

.threemix-grid-img, .threemix-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.threemix-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 15px 0 15px;
  border-color: #317199 transparent transparent transparent;
  transform: rotate(-90deg);
}

.threemix h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #317199;
}

.threemix p {
  margin-bottom: 2rem;
}

.threemix img.threemix-img {
  display: block;
  margin: 0 auto;
}

/* Flow - 虫歯治療の流れ */


/* Desire - 虫歯になりにくい歯を目指して */


/* Media Query */
@media screen and (max-width: 768px) {

  /* Decay - 「歯が痛い」「歯が染みる」は虫歯？放置したらどうなるの？ */
  .decay-grid-img img {
    width: 100%;
  }

  /* MI - なるべく歯を残して治す「MI（ミニマルインターベーション）」を重視 */
  .mi-grid-img img {
    width: 100%;
  }

  /* 3Mix - 虫歯治療の痛みも歯を失うリスクも抑えられる3Mix-MP法 */
  .threemix-wrapper {
    grid-template-columns: 1.5fr 1fr 1.5fr 1fr 1.5fr;
  }

  .threemix-grid-img img {
    width: 100%;
  }

  .threemix img.threemix-img {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {

  /* Decay - 「歯が痛い」「歯が染みる」は虫歯？放置したらどうなるの？ */
  .decay-wrapper {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .decay-wrapper p {
    order: 1;
  }

  .decay-grid-img {
    align-items: center;
    order: 0;
  }

  .decay-grid-img img {
    width: 60%;
  }

  /* MI - なるべく歯を残して治す「MI（ミニマルインターベーション）」を重視 */
  .mi-wrapper {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .mi-grid-img {
    align-items: center;
    order: 2;
  }

  .mi-grid-img img {
    width: 60%;
  }

  .article-wrapper {
    grid-template-columns: 1fr;
  }

  .article-grid p {
    padding: 0.5rem 0;
  }

  /* Scheme - 虫歯治療の痛みを抑える工夫 */
  .anesthetic p {
    width: 80%;
  }

  /* 3Mix - 虫歯治療の痛みも歯を失うリスクも抑えられる3Mix-MP法 */
  .threemix-wrapper {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  
  .threemix-grid-img img {
    width: inherit;
  }
  
  .threemix-triangle {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 400px) {
  
  /* Decay - 「歯が痛い」「歯が染みる」は虫歯？放置したらどうなるの？ */
  .decay-grid-img img {
    width: 70%;
  }
  
  /* MI - なるべく歯を残して治す「MI（ミニマルインターベーション）」を重視 */
  .mi-grid-img img {
    width: 70%;
  }
  
  /* Scheme - 虫歯治療の痛みを抑える工夫 */
  .anesthetic p {
    width: 90%;
  }
  
  /* 3Mix - 虫歯治療の痛みも歯を失うリスクも抑えられる3Mix-MP法 */
  .threemix img.threemix-img {
    width: 80%;
  }
}