/* Reusable */
table.perio-table {
  width: 100%;
  border-collapse: collapse;
}

table.perio-table th {
  color: #317199;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  background-color: #D5EAF8;
  border: 1px solid #317199;
}

table.perio-table th:first-child {
  width: 35%;
}

table.perio-table td {
  background-color: #fff;
  padding: 2rem;
  font-size: 1.4rem;
  border: 1px solid #317199;
}

table.perio-table td:first-child {
  font-weight: bold;
}

.td-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.td-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Cause - 歯周病は、歯を失う原因の第1位です */
.cause-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  column-gap: 2rem;
  margin-bottom: 4rem;
}

.cause-grid-img01, .cause-grid-img02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cause-grid-img01 {
  align-items: flex-end;
}

.cause-grid-img02 {
  align-items: flex-start;
}

.cause-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cause-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 15px 0 15px;
  border-color: #317199 transparent transparent transparent;
  transform: rotate(-90deg);
}

/* Root - 薬の内科的治療と外科的治療を組み合わせて歯周病を根本から治す */
.root-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
                      "grid1 grid1 grid2"
                      "grid3 .     grid2"
                      "grid3 grid4 grid4";
  row-gap: 2rem;
  column-gap: 1.5rem;
}

.root-grid01 {
  grid-area: grid1;
}

.root-grid-img01 {
  grid-area: grid2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.root-grid-img02 {
  grid-area: grid3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.root-grid-img01 img, .root-grid-img02 img {
  width: 23rem;
}

.root-grid02 {
  grid-area: grid4;
}

/* Severe - 歯がぐらつく・骨が溶ける重度の歯周病も治療可能 */
.severe-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
}

.severe-grid-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Flow - 歯周病治療の流れ */

/* Bad Influence - 歯周病が身体に与える悪影響 */
.bad-influence p.bad-influence-top {
  width: 65%;
  margin: 0 auto 3rem;
}

/* Feature - 歯周病になりやすい方の特徴 */
.feature p.feature-top {
  width: 65%;
  margin: 0 auto 3rem;
}

/* Prevent - 歯周病になる前に予防しましょう */
.prevent p {
  margin-bottom: 4rem;
}

.btn-perio {
  margin: 0 auto 2.5rem;
}

/* Media Query */
@media screen and (max-width: 768px) {

  /* Root - 薬の内科的治療と外科的治療を組み合わせて歯周病を根本から治す */
  .root-grid-img01 img, .root-grid-img02 img {
    width: 100%;
  }

  /* Bad Influence - 歯周病が身体に与える悪影響 */
  .bad-influence p.bad-influence-top {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {

  /* Reusable */
  table.perio-table td {
    padding: 1.5rem;
  }
  
  /* Cause - 歯周病は、歯を失う原因の第1位です */
  .cause img {
    width: 100%;
  }

  /* Bad Influence - 歯周病が身体に与える悪影響 */
  .bad-influence p.bad-influence-top {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {

  /* Reusable */
  .td-wrapper {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  
  /* Root - 薬の内科的治療と外科的治療を組み合わせて歯周病を根本から治す */
  .root-wrapper {
    grid-template-columns:  1fr;
    grid-template-areas: 
                        "grid2"
                        "grid1"
                        "grid3"
                        "grid4";
  }

  .root-grid-img01 {
    align-items: center;
    justify-content: center;
  }

  .root-grid-img02 {
    align-items: center;
    justify-content: center;
  }

  .root-grid-img01 img, .root-grid-img02 img {
    width: 23rem;
  }

  /* Severe - 歯がぐらつく・骨が溶ける重度の歯周病も治療可能 */
  .severe-wrapper {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .severe-grid-img {
    align-items: center;
  }
}

@media screen and (max-width: 450px) {

  /* Prevent - 歯周病になる前に予防しましょう */
  .prevent a {
    font-size: 1.2rem;
  }

  .prevent .btn i.fa-chevron-circle-right {
    right: 1rem;
  }
}