/* Treatment Menu - お悩み・症状別診療メニュー */
.treatment-menu {
  margin-top: 2rem;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
  row-gap: 7rem;
}

.menu .menu-wrapper {
  width: 100%;
  height: 49rem;
  position: relative;
}

.menu .menu-wrapper .icon-container {
  width: 12rem;
  height: 12rem;
  line-height: 12rem;
  display: block;
  position: relative;
  border: 6px solid #4CB5F5;
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
}

.menu .menu-wrapper .icon-container img {
  width: 7rem;
  height: 7rem;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu .menu-wrapper .menu-container {
  width: 90%;
  padding: 2rem;
  position: absolute;
  top: 6rem;
  left: 3rem;
  border: 2px solid #317199;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container h3, .menu-container h4, .menu-container p {
  margin-bottom: 2rem;
}

.menu-container h3 {
  font-size: 1.8rem;
  border-bottom: 3px solid #4CB5F5;
  padding-bottom: 2px;
  margin-bottom: 2rem;
}

.menu-container h4 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.menu-container h4.h4-space {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.menu-container .btn {
  width: 32rem;
  background-color: #4CB5F5;
  cursor: pointer;
}

.menu-container .btn:hover {
  background-color: #317199;
}

.menu-container .menu-btn-double {
  margin: 0 0 2rem;
}

.menu-container .menu-btn-margin-3 {
  margin-top: 3.5rem;
}

.menu-container .menu-btn-margin-2 {
  margin-top: 2rem;
}

.menu-container .menu-btn-margin-1 {
  margin-top: 1rem;
}

/* Media Query */
@media screen and (max-width: 950px) {

  /* Treatment Menu - お悩み・症状別診療メニュー */
  .menu {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .menu .menu-wrapper {
    height: 50rem;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu .menu-wrapper .menu-container {
    left: 0;
    position: relative;
    padding-top: 8rem;
  }

  .menu .menu-wrapper .icon-container {
    position: absolute;
  }
}

@media screen and (max-width: 768px) {

  /* Treatment Menu - お悩み・症状別診療メニュー */
  .menu .menu-wrapper {
    width: 90%;
  }

  .menu-container .btn {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {

  /* Treatment Menu - お悩み・症状別診療メニュー */
  .menu .menu-wrapper {
    width: 100%;
  }

  .menu-container .btn {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {

  /* Treatment Menu - お悩み・症状別診療メニュー */
  .long-text {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .long-text i {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {

  /* Treatment Menu - お悩み・症状別診療メニュー */
  .menu .menu-wrapper {
    height: 52rem;
  }
}

@media screen and (max-width: 420px) {

  /* Treatment Menu - お悩み・症状別診療メニュー */
  .long-text {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .long-text i.fa-chevron-circle-right {
    font-size: 1.5rem;
    right: 1rem;
  }
}