/* About - ホワイトニングとは？ */
.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem;
}

.about-grid-img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Type - ホワイトニングの種類 */
.type p.type-top {
  margin-bottom: 3rem;
}

.table-1, .table-2, .table-3 {
  margin-top: 4rem;
}

.type-table h4 {
  font-size: 1.5rem;
}

.type-table h4 i {
  color: #4CB5F5;
  margin-right: 0.5rem;
}

.type-table div.line {
  width: 100%;
  height: 1px;
  background-color: #317199;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.table-wrapper {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: 1.5rem;
}

.table-grid table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #317199;
}

.table-grid table th {
  padding: 2rem 3rem;
  font-size: 1.4rem;
  color: #317199;
  background-color: #D5EAF8;
}

.table-grid table td {
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
}

.table-grid table tr:first-child td {
  padding: 2.5rem 1.5rem;
}

.table-grid table td p i {
  color: #4CB5F5;
  margin-right: 0.5rem;
}

/* Cost - ホワイトニングの費用 */


/* Flow - ホワイトニング施術の流れ */


/* Caution - ホワイトニングの注意点 */
/* Unavilable - ホワイトニングを受けられない場合 */
.caution-top, .unavailable-top {
  width: 60%;
  margin: 0 auto 3rem;
}

.caution .article, .unavailable .article {
  width: 70%;
  margin: 0 auto 3rem;
  padding: 2rem;
}

.caution .article p, .unavailable .article p {
  padding: 0.5rem 0;
}

.caution .article p i, .unavailable .article p i {
  color: #4CB5F5;
  margin-right: 0.5rem;
}

.caution-bottom, .unavailable-bottom {
  width: 60%;
  margin: 0 auto;
}

/* Media Query */
@media screen and (max-width: 768px) {

  /* Type - ホワイトニングの種類 */
  .table-grid table td {
    font-size: 1.2rem;
  }

  /* Caution - ホワイトニングの注意点 */
  /* Unavilable - ホワイトニングを受けられない場合 */
  .caution-top, .caution-bottom, .unavailable-top, .unavailable-bottom {
    width: 80%;
  }
  
  .caution .article, .unavailable .article {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  
  /* Caution - ホワイトニングの注意点 */
  /* Unavilable - ホワイトニングを受けられない場合 */
  .caution-top, .caution-bottom, .unavailable-top, .unavailable-bottom {
    width: 90%;
  }
  
  .caution .article, .unavailable .article {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {

  /* About - ホワイトニングとは？ */
  .about-wrapper {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .about-grid-img {
    align-items: center;
  }

  /* Type - ホワイトニングの種類 */
  .table-wrapper {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 2rem;
  }

  .table-grid-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 400px) {

  /* Type - ホワイトニングの種類 */
  .table-grid table th {
    padding: 2rem;
  }

  .table-grid table td {
    padding: 1rem;
  }

  /* Unavilable - ホワイトニングを受けられない場合 */
  .unavailable a.btn {
    font-size: 1.2rem;
  }

  .unavailable a.btn i {
    right: 2rem;
  }
}