/* Infection Measures */
.infection-measures h3 {
  color: #317199;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.infection-measures h4 {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0.7rem;
}

.infection-measures .measures-1 p {
  line-height: 2.8rem;
}

.infection-measures .measures-1 p:last-child {
  padding-top: 1.5rem;
}

.infection-measures .measures-2 p.line-height {
  line-height: 4rem;
} 

.infection-measures .measures-2 a {
  text-decoration: underline;
  font-size: 1.5rem;
  color: #317199;
  display: inline-block;
  padding: 1rem 0 1.5rem 0;
}

/* Epios */
.epios-eco-system {
  position: relative;
  height: 26.7rem;
  margin-bottom: 2rem;
}

.epios-eco-system h3 {
  color: #4CB5F5;
  margin-bottom: 2.5rem;
}

.epios-eco-system p {
  width: 45rem;
}

.epios-eco-system img {
  width: 40rem;
  height: 26.7rem;
  position: absolute;
  top: 0;
  right: 0;
}

.epios-advantages {
  width: 60rem;
  margin: 0 auto 3rem;
  padding: 2rem 0 2rem 4rem;
}

.epios-advantages h4, .epios-article h4 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.epios-advantages p {
  padding: 0.5rem 0;
}

.epios-advantages p i {
  color: #4CB5F5;
  margin-right: 1rem;
}

.epios-article {
  margin-top: 3rem;
  padding: 2.5rem 3rem 2.5rem 5rem;
  position: relative;
}

.epios-article img {
  width: 20rem;
  height: 15rem;
  margin-top: 1rem;
}

.epios-article p {
  width: 57rem;
  position: absolute;
  top: 6rem;
  right: 3rem;
}

/* Facilities */
.about-clinic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  row-gap: 2rem;
}

.about-clinic .about-clinic-wrapper {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-clinic-wrapper img, .about-clinic-wrapper p {
  width: 40rem;
}

.about-clinic-wrapper h3 {
  color: #317199;
  margin: 1.5rem 0 1rem 0;
}